<% cache [post, Current.user.id] do %>
<div class="post <%= "reply" if post.parent_id %>" data-controller="toggle">
  <div class="post-meta">
    <div class="post-avatar">
      <% if post.user.avatar.attached? %>
        <%= link_to profile_path(post.user.username) do %>
          <%= image_tag post.user.avatar_thumbnail, class: "avatar-img avatar-small" %>
        <% end %>
      <% else %>
        <%= link_to profile_path(post.user.username), class: "avatar-initials avatar-small" do %>
          <%= post.user.initials %>
        <% end %>
      <% end %>
    </div>
    <%= link_to "@#{post.user.username}", profile_path(post.user.username), class: "username" %>
    <%= link_to post_path(post), class: "post-time" do %>
      <%= time_ago_in_words(post.created_at) %> ago<% if post.edited_at %> · <span class="edited-marker">edited</span><% end %>
    <% end %>
    <% if post.expires_at %>
      <span class="expiry-badge expiry-<%= post.expiry_status %>">⏳ <%= post.expiry_label %></span>
    <% end %>
  </div>

  <div class="post-content"><%= post.content %></div>

  <% if post.media.attached? %>
    <div class="post-media">
      <% if post.media.video? %>
        <%= video_tag post.media, controls: true, class: "post-video" %>
      <% else %>
        <%= image_tag post.media, class: "post-image" %>
      <% end %>
    </div>
  <% end %>

  <%= render "posts/post_actions", post: post %>

  <% if post.user == Current.user %>
    <div class="edit-form hidden" data-toggle-target="editForm">
      <%= form_with model: post, class: "post-form edit-form-inner",
          data: { controller: "post-form" } do |f| %>
        <%= f.text_area :content, maxlength: 280, rows: 3,
            data: { action: "input->post-form#updateCount keydown->post-form#submitOnEnter" } %>
        <div class="form-footer">
          <span class="char-counter"><span class="char-remaining" data-post-form-target="counter"><%= 280 - post.content.length %></span> chars left</span>
          <%= f.submit "Save", class: "btn-primary btn-small" %>
          <%= button_to post_path(post), method: :delete, class: "btn-danger btn-small",
              data: { turbo_confirm: "Delete this post?" } do %>Delete<% end %>
        </div>
      <% end %>
    </div>
  <% end %>

  <div class="reply-form hidden" data-toggle-target="replyForm">
    <%= form_with url: reply_post_path(post), class: "post-form reply-form-inner",
        data: { controller: "post-form" } do |f| %>
      <%= f.text_area :content, placeholder: "Write a reply...", maxlength: 280, rows: 2,
          name: "post[content]", data: { action: "input->post-form#updateCount keydown->post-form#submitOnEnter" } %>
      <div class="form-footer">
        <span class="char-counter"><span class="char-remaining" data-post-form-target="counter">280</span> chars left</span>
        <%= f.submit "Reply", class: "btn-primary btn-small" %>
      </div>
    <% end %>
  </div>

  <% if post.replies.any? %>
    <div class="replies">
      <%= render post.replies.order(:created_at) %>
    </div>
  <% end %>
</div>
<% end %>
